<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <img src="favicon.ico" width="28" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>
<app-laan></app-laan>


<!-- <section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <app-sparing></app-sparing>
            </div>
            <div class="column is-half">
                <app-laan></app-laan>
            </div>
        </div>
    </div>
</section> -->