<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img src="favicon.ico" width="28" height="28">
      </a>  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Låneberegning annuitetslån</h3>
        <div class="field">
          <div class="control">
            <label class="radio">
              <input type="radio" name="typeBeregning" value='belop' [(ngModel)]="typeBeregning">
              Finn terminbeløp
            </label>
            <label class="radio">
              <input type="radio" name="typeBeregning" value='termin' [(ngModel)]="typeBeregning">
              Finn antall terminer
            </label>
          </div>
        </div>
        <div class="field">
          <label class="label">Lånebeløp</label>
          <div class="control">
            <input [(ngModel)]="mittLaan.laanebelop" placeholder="Beløp" type="number" (keyup.enter)="beregnTerminer()">
          </div>
        </div>
        <div class="field">
          <label class="label">Årlig rente</label>
          <div class="control">
            <input [(ngModel)]="mittLaan.aarligRente" placeholder="Rente" type="number" (keyup.enter)="beregnTerminer()">
          </div>
        </div>
        <div *ngIf="typeBeregning=='belop'">
          <div class="field">
            <label class="label">Antall år</label>
            <div class="control">
              <input [(ngModel)]="mittLaan.antallAar" placeholder="Antall år" type="number" (keyup.enter)="beregnTerminer()">
            </div>
          </div>
        </div>
        <div *ngIf="typeBeregning=='termin'">
          <div class="field">
            <label class="label">Terminbeløp</label>
            <div class="control">
              <input [(ngModel)]="mittLaan.terminBelop" placeholder="Beløp" type="number" (keyup.enter)="beregnTerminer()">
            </div>
          </div>  
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" (click)="beregnTerminer()">Beregn</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="terminer.length > 0">
    <section class="section">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-half">
              <h3 class="title is-3">Resultat</h3>             
                Antall terminer: {{mittLaan.antallTerminer()}}<br>
                Antall år: {{mittLaan.antallAar}}<br>
                Antall mnd: {{mittLaan.antallMnd}}<br>
                Terminbeløp: {{mittLaan.terminBelop | number: '1.0-0'}}<br>
                Antall terminer beregnet: {{terminer.length}} <br>                 
            </div>
          </div>    
        </div>
      </section>      
</div>



<div class="content">
  <div *ngIf="terminer.length > 0">
    <table>
      <tr>
        <th>Termin</th>
        <th>Innbetaling</th>
        <!-- <th>Forholdstall</th> -->
        <th>Avdrag</th>
        <th>Renter</th>
        <th>Restgjeld</th>
        <!-- <th>Gjenstående terminer</th> -->
      </tr>
      <tr *ngFor="let termin of terminer">
        <td>
          {{termin.terminNr}}
        </td>
        <td>
          {{termin.terminbelop | number: '1.0-0' }}
        </td>
        <!-- <td>
          {{termin.forholdstall}}
        </td> -->
        <td>
          {{termin.avdrag | number: '1.0-0'}}
        </td>
        <td>
          {{termin.rentebelop | number: '1.0-0'}}
        </td>
        <td>
          {{termin.restLaanebelop | number: '1.0-0'}}
        </td>
        <!-- <td>
          {{termin.gjenstaaendeTerminer}}
        </td> -->
      </tr>
    </table>
  </div>

</div>